body {
  display: grid;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: 0; padding: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /*  Calculate global font size based on viewport width.
      Then all sizes should be specified in font size relative units (em).

      Font size = A + (B - A) * (VIEWPORT_WIDTH - 640) / (1920 - 640) [px], where
      A -- font size [px] for viewport width 640 px
      B -- font size [px] for viewport width 1920 px
  */
  font-size: calc(16px + (24 - 16) * (100vw - 640px) / (1920 - 640));

  display: grid;
}
