{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": ["react-app", "airbnb-typescript", "prettier", "plugin:import/typescript"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "plugins": ["import", "prettier", "react", "react-hooks", "mobx"],
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".jsx"] }],
    "react/react-in-jsx-scope": "off",
    "mobx/exhaustive-make-observable": "warn",
    "mobx/unconditional-make-observable": "error",
    "mobx/missing-make-observable": "error",
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "no-restricted-imports": [
      "error",
      {
        "patterns": [
          { "group": ["../*"], "message": "Please use absolute path for parent imports." }
        ]
      }
    ]
  }
}
